---
layout: default
---
<div class="container">
 <div class="row">
  <div class="top-content col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-9 col-sm-offset-0 col-xs-12">
   <h1 id="title">{{ page.title }}</h1>
   {% if page.theme %}
   <div id="content" class="bgicon-{{ page.theme }}">{{ content }}</div>
   {% else %}
   <div id="content" class="bgicon-fot">{{ content }}</div>
   {% endif %}
  </div>
  {% if page.theme %}
  <div class="col-sm-3 col-sm-3 col-lg-3 hidden-xs theme-{{ page.theme }} icon">
    <div class="side">{% include side.html %}</div>
  </div>
  {% else %}
  <div class="col-sm-3 col-sm-3 col-lg-3 hidden-xs theme-fot icon">
    <div class="side">{% include side.html %}</div>
  </div>
  {% endif %}
 </div>
 <div class="hidden-lg hidden-md hidden-sm col-cs-12 side">{% include side.html %}</div>
</div>
